<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" description=description>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Veg.me" />
    <meta property="og:type" content="video.movie" />
     <meta property='og:site_name' content='veg.me' />
     <meta property="og:url" content="https://www.veg.me" />
     <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
    <title>Veg.Me</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' type="text/css">
    <link rel='stylesheet' href='/css/toolkit.css'>
    <link rel='stylesheet' href='/css/application.css'>


</head>
<body>
      <div  class="with-top-navbar" >
        <div class="growl" id="app-growl"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/img/brand-white.png" alt="brand" />
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-main">

          <ul class="nav navbar-nav hidden-xs">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a data-toggle="modal" href="#msgModal">Messages</a>
            </li>
            <li>
              <a href="docs/index.html">Docs</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
            <li >
              <a class="app-notifications" href="/notifications">
                <span class="icon icon-bell"></span>
              </a>
            </li>
            <li>
              <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
                <img class="img-circle" src="/img/avatar-dhg.png" />
              </button>
            </li>
          </ul>

          <form class="navbar-form navbar-right app-search" role="search">
            <div class="form-group">
              <input type="text" class="form-control" data-action="grow" placeholder="Search" />
            </div>
          </form>

          <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/notifications">Notifications</a></li>
            <li><a data-toggle="modal" href="#msgModal">Messages</a></li>
            <li><a href="docs/index.html">Docs</a></li>
            <li><a href="#" data-action="growl">Growl</a></li>
            <li><a href="/login">Logout</a></li>
          </ul>

          <ul class="nav navbar-nav hidden">
            <li><a href="#" data-action="growl">Growl</a></li>
            <li><a href="/login">Logout</a></li>
          </ul>
        </div>
    </div>
  </nav>




        <div id="root">
          <%- reactOutput %>
        </div>
      </div>
      <script src='/js/jquery.min.js'></script>
      <script src='/js/chart.js'></script>
      <script src='/js/toolkit.js'></script>
      <script src='/js/application.js'></script>
    <script id="preloadedData" type="application/json">

        <%- JSON.stringify(preloadedData).replace(/\//g, '\\/') %>
    </script>
    <script src="/app.js"></script>
</body>
</html>
