<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" description=description>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Isomorphic Relay • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png" >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' type="text/css">
    <link rel='stylesheet' href='css/toolkit.css'>
    <link rel='stylesheet' href='css/application.css'>


</head>
<body>
      <div class="with-top-navbar" >
          <%- reactOutput %>
      </div>
      <script src='assets/js/jquery.min.js'></script>
      <script src='assets/js/chart.js'></script>
      <script src='assets/js/toolkit.js'></script>

      <script src='assets/js/application.js'></script>
    <script id="preloadedData" type="application/json">
        <%- JSON.stringify(preloadedData).replace(/\//g, '\\/') %>
    </script>
    <script src="/app.js"></script>
</body>
</html>
